@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Sono&display=swap');

:root {
	--font-mono: 'Sono', monospace;
	--font-sans: 'Russo One', sans-serif;
	--font-serif: arial;
	--bg-main: rgba(20, 19, 30, 0.613);
	--clr-primary: rgb(209, 240, 255);
	--clr-secondary: rgb(162, 178, 186);
	--clr-ternary: rgb(110, 176, 237);
	--clr-quaternary: rgb(124, 151, 174);
	--clr-dark: rgb(17, 49, 76);
	--side-p: 8rem;
	--icon-lg: 12rem;
	--icon-sm: 8rem;
	--icon-xs: 3rem;

	--bg-img: url("./src/background.jpg");
	scroll-behavior: smooth;
	scroll-padding-top: 8rem;
}

html {
	background-color: var(--clr-dark);
}

body {
	max-width: 100vw;
	margin: 0;
	color: var(--clr-primary);
	background-color: var(--bg-main);
	background-size: cover, auto;
	background: 50% 60% no-repeat fixed var(--bg-img), var(--bg-main);
	background-blend-mode: darken;
}

main {
	padding: 0 var(--side-p);
}

header {
	position: fixed;
	height: 6rem;
	z-index: 2;
	width: 100%;
	background: linear-gradient(var(--bg-main) 55%, #00000000);
	padding: 0 var(--side-p);
}

div.side-info {
	position: fixed;
	width: var(--side-p);
	top: 0;
	bottom: 0;
	/* background-color: var(--clr-primary);
	border: 3px solid var(--clr-dark); */

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 4rem;
	padding-top: 4rem;
	gap: 3rem;
	align-items: center;
}

div.side-info>div.vr {
	width: 1px;
	flex-grow: 1;
	background-color: var(--clr-primary);
}

div.side-info>a {
	writing-mode: vertical-lr;
}

div.side-info>a>img {
	width: var(--icon-xs);
	height: var(--icon-xs);
}

div.side-info[orientation="left"] {
	left: 0;
}

div.side-info[orientation="right"] {
	right: 0;
}

section h2 {
	color: var(--clr-secondary);
}

h1,
h2 {
	font-family: var(--font-sans);
	color: var(--clr-primary);
}

h3 {
	text-align: center;
	font-family: var(--font-mono);
}

h4 {
	margin-bottom: 0;
}

hr {
	width: 20%;
}

p {
	font-family: var(--font-serif);
	color: var(--clr-quaternary)
}

nav {
	font-size: 1.25rem;
	/* width: 100vw; */
	color: var(--clr-primary);
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	transform: scale(1.10);
	transition-duration: 150ms;
}

nav>ol {
	font-family: var(--font-mono);
	display: flex;
	width: auto;
	padding: 0.5em 0px;
	align-items: center;
	list-style: decimal inside;
}

hgroup>h2 {
	font-size: 2.5em;
	color: var(--clr-secondary);
	margin: 0;
}

.nav-link {
	padding-right: 2em;
	transition-duration: 200ms;
}

section#intro {
	margin-top: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section#intro div {
	max-width: 65%;
}

.nav-link:hover {
	transform: scale(1.15);
}

ol li::marker {
	color: var(--clr-ternary);
}

.title-heading {
	font-family: var(--font-sans);
	margin: 0;
	margin-top: 0.5em;
	font-size: 5em;
}

.heading {
	font-size: 2.5rem;
	margin-top: 2rem;
	color: var(--clr-primary);
}

.icon-group {
	display: flex;
	justify-content: center;
	gap: 2rem;
	flex-wrap: wrap;
}

.skill-group-title {
	text-align: center;
	font-size: 2em;
	font-family: var(--font-mono);
}

.skill {
	text-align: center;
	position: relative;
	/* background-color: var(--clr-primary); */
	border-radius: 50%;
	width: var(--icon-lg);
	height: var(--icon-lg);

	display: flex;
	justify-content: center;
	align-items: center;
}

.skill>img {
	object-fit: scale-down;
	z-index: 0;
	width: 70%;
	height: 70%;
}

.skill-inside {
	position: absolute;
	opacity: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.skill-inside>h2 {
	color: white;
}

.skill-inside:hover {
	opacity: 90%;
	background: linear-gradient(to top, var(--clr-primary) 0% var(--rating), var(--bg-main) var(--rating) 100%);
	transition-duration: 150ms;
}

/* Make this cleaner when attr is supported */
.skill-inside[rating="5"] {
	--rating: 100%;
}

.skill-inside[rating="4"] {
	--rating: 80%;
}

.skill-inside[rating="3"] {
	--rating: 60%;
}

.skill-inside[rating="2"] {
	--rating: 40%;
}

.skill-inside[rating="1"] {
	--rating: 20%;
}

.skill-inside[rating="0"] {
	--rating: 0%;
}

.skill-inside[rating="5"]>h2,
.skill-inside[rating="4"]>h2,
.skill-inside[rating="3"]>h2 {
	color: var(--clr-dark);
}

.contact.icon-group {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.contact>a {
	padding: 1rem;
}

.contact>a>img {
	width: var(--icon-lg);
	height: var(--icon-lg);
}

.contact>a:hover {
	transform: scale(1.10);
	transition: transform 150ms;
}

@media (max-width: 768px) {
	:root {
		--side-p: 4rem;
	}

	nav>ol {
		list-style: none;
	}

	section#intro div {
		max-width: 100%;
	}

	.skill {
		width: var(--icon-sm);
		height: var(--icon-sm);
	}

	div.side-info {
		display: none;
	}
}

@media (max-width: 375px) {
	:root {
		--side-p: 2rem;
	}

	body {
		background: var(--clr-dark);
	}
}

@media (min-width: 1900px) {
	:root {
		--bg-img: url("./src/background2.jpg");
	}
}